<style>
body {
  color: white;
  background: url('http://www.christinejohnsonbooks.com/wp-content/uploads/2011/02/red-curtain-large.jpg') no-repeat;
  background-size: 100%;
}

#signup {
  width:600px;
  height:200px;
  position:absolute;
  left:50%;
  top:50%;
  margin:-80px 0 0 -250px;
}
</style>

<div id=signup>
<h1>Sign up for Lunch Roulette!</h1>
<%= render 'players/form' %>
</div>

