<h1>Yeehah!</h1>

<% @groups.each_with_index do |group, index| %>
  <div class="group">
    <h3>Lunch Group #<%= index +1 %></h3>
      <ul>
      <% group.players.each do |player| %>
        <li class="player"><%= player.name %></li>
      <% end %>
      </ul>
  </div>
<% end %>
