
<div id=pic><img width=700 src="http://www.croupiers.it/Photos/DSC01178.JPG"/></div>
<div style="padding-top: 200px; padding-left:100px">
<h1 id="notice">w00t!</h3>
<h2 >Everyone's a winner baby, that's no lie!</h2>
</div>

